{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
<title>{%  block title %}Create{% endblock %} - Ryder Cook</title>
<section class="create pt-100 pb-50" id="create">
    <div class="row">
        <div class="col-xl-6 mx-auto text-center">
            <div class="section-title mb-100">
                <h2 class="section__title">Create A Review</h2>
                <span class="section__subtitle">Give Me A Review</span>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post" class="form-section" style="max-width: 830px;" id="contactForm">
			{% csrf_token %}
            <fieldset class = "form-group">
			    {{ form|crispy }}
			</fieldset>
			<div class="mx-auto text-center">
		    <input type="submit" value="Submit" class="btn btn-primary btn-lg" style="width: 200px; margin: auto;">
			</div>
		</form>
    </div>
</section>
{% endblock %}
