{% extends 'base.html' %}
{% block content %}
<title>{%  block title %}Review{% endblock %} - Ryder Cook</title>
<!--====== REVIEW ======-->
<section class="about pt-100 pb-50" id="review">
    <div class="container py=4">
        <h2 class="section__title">Reviews</h2>
        <span class="section__subtitle">Client Reviews</span>
    </div>
</section>
<main class="container">
  <div class="row">
      <div class="col text-center">
        {% if user.is_authenticated %}
          <a type="submit" value="New Post" class="btn btn-primary btn-lg" style="width: 200px; margin: auto;" href="{% url 'create' %}">New Post</a>
        {% endif %}
      </div>
  </div>
  {% for post in object_list %}
  <div class="my-3 p-3 bg-body rounded shadow-sm">
  <p class="text-secondary" style="color: #22262a;">@{{ post.author }}</p>
    <div class="col-md-12">
      <h5>{{ post.title }}</h5>
      <p>{{ post.body }}</p>
    </div>
    <hr>
    <a class="label label-default px-2 text-secondary" style="color: #22262a; text-decoration: none;">{{ post.date_posted|date:"F d, Y"}}</a>
      {% if post.author == user %}
            <div class="row-cols-lg-2">
                <div class="col-lg-2">
                    {% if user.is_authenticated %}
                    <a class="action label label-default px-2 text-secondary" href="{% url 'update' post.id %}" style="text-decoration: none;">Edit</a>
                    <a class="action label label-default px-2 text-danger" href="{% url 'delete' post.id %}" style="text-decoration: none;">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% if not loop.last %}
      {% endif %}
  </div>
  {% endfor %}
  {% if user.is_authenticated %}
  {% for poll in polls %}
  <div class="card" style="margin: 1em auto;">
      <div class="card-body">
          <h5 class="card-title">{{ poll.name }}</h5>
          <p class="card-text">{{ poll.description }}</p>
          <a href="{% url 'detail' poll.id %}" class="btn btn-primary">Vote</a>
      </div>
  </div>
  {% endfor %}
{% endif %}
</main>
{% endblock %}