{% extends 'base.html' %}
{% block content %}
<title>{%  block title %}Update{% endblock %} - Ryder Cook</title>
<section class="update pt-100 pb-50" id="update">
    <div class="row">
        <div class="col-xl-6 mx-auto text-center">
            <div class="section-title mb-100">
                <h2 class="section__title">Update Review</h2>
                <span class="section__subtitle">Your Review</span>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="post" class="form-section" style="max-width: 830px;" id="contactForm">
          {% csrf_token %}
          <!--===== TITLE =====-->
          <div class="mb-3">
              <input name="title" value="{{ object.title }}" class="form-control" id="title" type="text" required>
          </div>
          <!--===== MESSAGE =====-->
          <div class="mb-3">
              <textarea name="body" class="form-control" id="body" type="text" style="height: 10rem; resize: none;" required>{{ object.body }}</textarea>
          </div>
          <!--===== SUBMIT =====-->
          {% if object.author == user %}
          <div class="row">
              <div class="col text-center">
                  <input type="submit" value="Submit" class="btn btn-primary btn-lg" href="{% url 'update' post.id %}" style="width: 200px; margin: auto;">
              </div>
          </div>
          {% endif %}
        </form>
    </div>
</section>
{% endblock %}